<div class="container">
    <div class="py-5 text-center">
        <h2>Hello There!</h2>
        <p class="lead">This is a task demonstrating my knowledge developing applications with Angular.</p>
    </div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="formInput">Input:</label>
            <input type="text" class="form-control" id="formInput" formControlName="formInput"
                [class.is-invalid]="formInput.errors" (input)="setOutputValue()" autocomplete="off">
            <div class="invalid-feedback">
                Error: invalid value provided.
            </div>
        </div>
        <div class="form-group">
            <label for="formOutput">Output:</label>
            <input type="text" class="form-control" id="formOutput" formControlName="formOutput">
        </div>
    </form>
</div>